<div class="container mt-5">
    <h1 class="text-center fs-1">{{project?.name}}</h1>
    <div class="row">
        @for (board of boards; track $index) {
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <div class="d-flex">
                        @if (board.id != boardEditing) {
                            <div>
                                <h2 class="card-title mb-0">{{ board.name }}</h2>
                            </div>
                            <div class="ms-auto gap-1 d-flex iconsManageBoard mt-1">
                                <i class="bi bi-trash" data-bs-toggle="modal" data-bs-target="#deleteBoardModal" (click)="setDeleteBoard(board)"></i>
                                <i class="bi bi-pencil-square" (click)="selectEditBoard(board.id)"></i>
                            </div>
                        }@else {
                            <div>
                                <h2 class="card-title mb-2">
                                    <input type="text" [value]="board.name" class="addNewTaskText" #newNameBoardEdit/>
                                </h2>
                                <div class="d-flex gap-1">
                                    <a class="btn btn-danger btn-sm bg-gradient" (click)="cancelEditBoard()">Cancelar</a>
                                    <a class="btn btn-success btn-sm bg-gradient" (click)="editBoard(board)">Editar</a>
                                </div> 
                            </div>
                        }
                    </div>
                    <hr class="mt-1">

                    <div class="task-container" 
                         style="max-height: 400px; overflow-y: auto; min-height: 5px;"
                         cdkDropList 
                         id="board-{{ $index }}" 
                         [cdkDropListData]="board.taskDTOs" 
                         [cdkDropListConnectedTo]="getConnectedBoardIds()" 
                         (cdkDropListDropped)="dropTask($event, $index, board.id)">
                         @for (task of board.taskDTOs; track $index) {
                        
                            @if(idTaskEditing == task.id){
                            <div>
                                <div class="task-title" role="button">
                                    <div class="card mb-2 text-dark">
                                        <div class="card-header p-2 d-flex addNewTask">
                                            <div class="mb-0">
                                                <p class="mb-0">
                                                    <input type="text" 
                                                           [value]="task.title"
                                                           class="addNewTaskText" #titleTaskEdit/>
                                                </p>
                                            </div>
                                            <div class="ms-auto">
                                                <i class="bi bi-plus-circle ms-auto"></i>
                                            </div>
                                        </div>
                            
                                        <div [ngClass]="{'collapse': true, 'show': true}" id="collapseNewTask">
                                            <div class="card-body mb-0">
                                                <p class="mb-2">
                                                    <textarea type="text" 
                                                            [value]="task.description" 
                                                              (click)="$event.stopPropagation()" #descriptionEdit></textarea>
                                                </p>
                                                <div class="d-flex gap-1">
                                                    <a class="btn btn-danger btn-sm bg-gradient" (click)="closeEdit(task)">Cancelar</a>
                                                    <a class="btn btn-success btn-sm bg-gradient" (click)="updateTask(titleTaskEdit.value,descriptionEdit.value, task)">Editar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            }@else {
                            <div cdkDrag>
                                <a class="task-title" data-bs-toggle="collapse" 
                                   href="#collapseTask{{ task.id }}" 
                                   role="button" 
                                   aria-expanded="false" 
                                   (click)="toggleTask(task.id)">
                                    <div class="card mb-2 bg-light text-dark">
                                        <div class="card-header p-2 d-flex">
                                            <div>
                                                <p class="mb-0">{{ task.title }}</p>
                                            </div>
                                            <div class="ms-auto">
                                                <i [ngClass]="{
                                                    'bi-caret-down': !isTaskOpen(task.id),
                                                    'bi-caret-up': isTaskOpen(task.id)
                                                }"></i>
                                            </div>
                                        </div>
    
                                        <div id="collapseTask{{ task.id }}" class="collapse">
                                            <div class="card-body mb-0">
                                                <p>{{ task.description }}</p>
                                                <div class="d-flex iconsManage">
                                                    <i class="bi bi-trash" (click)="deleteTask(task.id)"></i>
                                                    <i class="bi bi-pencil-square" (click)="setIdTaskEditing(task.id)"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        } 
                    }
                </div>
                <div>
                    <div class="task-title" role="button">
                        <div class="card mb-2 text-dark">
                            <div class="card-header p-2 d-flex addNewTask" (click)="openNewTask(board.id)">
                                <div class="mb-0">
                                    <p class="mb-0">
                                        <input type="text" 
                                               placeholder="Añadir nueva tarea" 
                                               class="addNewTaskText" (click)="openNewTask(board.id)" #titleTaskNew/>
                                    </p>
                                </div>
                                <div class="ms-auto">
                                    <i class="bi bi-plus-circle"></i>
                                </div>
                            </div>
                
                            <div [ngClass]="{'collapse': currentBoardId !== board.id, 'show': currentBoardId === board.id}" id="collapseNewTask">
                                <div class="card-body mb-0">
                                    <p class="mb-2">
                                        <textarea type="text" 
                                                  placeholder="Introduce descripción de la nueva tarea..." 
                                                  (click)="$event.stopPropagation()" #description></textarea>
                                    </p>
                                    <div class="d-flex gap-1">
                                        <a class="btn btn-danger btn-sm bg-gradient" (click)="closeNewTask(titleTaskNew,description)">Cancelar</a>
                                        <a class="btn btn-success btn-sm bg-gradient" (click)="saveNewTask(titleTaskNew,description, board.id)">Guardar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    }
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <div class="d-flex newBoard">
                            @if(!isClickNewBoard){
                                <div>
                                    <h2 class="card-title mb-0" (click)="newBoard()">Añadir nuevo tablero</h2>
                                </div>
                            }@else {
                                <div>
                                    <h2 class="card-title mb-0"><input type="text" 
                                        placeholder="Añadir nuevo tablero" 
                                        class="addNewBoardText" (keydown)="handleKeydown($event,nameBoard.value)" #nameBoard/></h2>
                                    
                                        <div class="d-flex gap-1 mt-2">
                                            <a class="btn btn-danger btn-sm bg-gradient" (click)="cancelNewBoard()">Cancelar</a>
                                            <a class="btn btn-success btn-sm bg-gradient" (click)="saveNewBoard(nameBoard.value)">Guardar</a>
                                        </div>
                                </div>
                            }
                            <div class="ms-auto">
                                <i class="bi bi-plus" (click)="newBoard()"></i>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="deleteBoardModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content shadow-lg">
              <div class="modal-header d-flex bd-highlight">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16" data-bs-dismiss="modal" aria-label="Close">
                      <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                  </svg>
                  <h1 class="modal-title fs-5 bd-highlight align-self-center" id="staticBackdropLabel" style="margin: 0 auto;">¿Estás seguro?</h1>
              </div>                      
              <div class="modal-body p-4">
                  <form>
                      @if(deleteBoardModal.taskDTOs.length == 0){
                        <div class="mb-3">
                          ¿Estás seguro de elimar el tablero <span class="text-danger">{{deleteBoardModal.name}}</span>?
                        </div>
                      }@else{
                        <div class="mb-3">
                          ¿Estás seguro de elimar el tablero <span class="text-danger">{{deleteBoardModal.name}}</span> y <span class="text-danger">TODAS</span> sus tareas?
                        </div>
                      }
                      <hr>
                      <div class="d-flex gap-2">
                          <a class="btn btn-primary bg-gradient w-50" id="cancelButton" data-bs-dismiss="modal">Cancelar</a>
                          <a class="btn btn-danger bg-gradient w-50" id="loginButton" data-bs-dismiss="modal" (click)="deleteBoard(deleteBoardModal.id)">Confirmar</a>
                      </div>
                  </form>
              </div>
          </div>
        </div>
      </div>
    <div class="separator"></div>
</div>

