
.bi-arrow-left{
    transition: all 0.2s ease-out;
}

.bi-arrow-left:hover{
    cursor: pointer;
    transform: scale(1.2);
}


@media only screen and (max-width: 415px){
    .modal-content{
        width: 85%;
    }

    .modal-dialog {
        justify-content: center !important;
    }
}