<div class="containe">
    <header class="text-white text-center py-5">
        <h1 class="display-4">Bienvenido a TaskFlow</h1>
        <p class="lead">La herramienta perfecta para gestionar tus proyectos y tareas de manera eficiente.</p>
    </header>
    
    
    <section id="features" class="mt-3">
        <div class="container">
            <h1 class="text-center text-light">Características Principales</h1>
            <div class="row text-center">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Organización Visual</h2>
                            <p class="card-text">Utiliza tableros Kanban para visualizar tu flujo de trabajo y mantener todo en orden.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Interfaz Intuitiva</h2>
                            <p class="card-text">Navega fácilmente por la plataforma y gestiona tus tareas sin complicaciones.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h2 class="card-title">Personalización de Tareas</h2>
                            <p class="card-text">Crea y edita tareas con detalles como títulos, descripciones y más, adaptándolas a tus necesidades.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section id="cta" class="mt-3 text-white text-center">
        <div class="container">
            <h2>¡Empieza a Organizar Tu Vida Hoy!</h2>
            <p class="join">Únete a TaskFlow y transforma la manera en que gestionas tus tareas y proyectos.</p>
            <a routerLink="/register" class="btn btn-light btn-lg">Regístrate Ahora</a>
        </div>
    </section>
    <div class="separator"></div>
</div>
